body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #393a3b;
  margin: 0;
  padding: 0;
}
header {
  background-color: #343a40;
  text-align: center;
  padding: 20px;
}

header h1 {
  color: #ac2a2a;
  font-size: 48px;
  text-shadow: 2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff;
}
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0; /* Light background for contrast */
}

nav a {
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  border: 2px solid #333;
  border-radius: 50px; /* Makes the border oval */
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1);
}
section {
  margin-bottom: 30px;
}
section h2 {
  font-size: 28px;
  color: #333;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 10px 5px 5px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.info-box {
  margin-top: 15px;
  padding: 15px;
  border-left: 5px solid #007bff;
  background-color: #f8f9fa;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
